html { width: 100%; height: 100%;}
body {
	background: #eee;
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

.wrapper {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
}

#menuView {
	margin-top: 40%;
}

#butts {
	text-align: center;
	position: flex;
}

h1 {
	text-align: center;
}
.btn-primary {
	background: #009688;
	border-color: #00897B;
	color: white;
	width: 45%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 5%;

}

.btn-primary:active {
	background: #00695C;
}

#goBackToMenu {
	background-color: #455A64;
	padding: 5%;
	margin: 0;
	color: white;
	text-align: center;
}

h2, h3 {
	margin: 0;
}

#bubbleView, #treeView, #smokeView {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

video {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #455A64;
}

.current {
	fill: #009688;

}

.head1 {
	fill: yellow;
}

.hidden {
	display: none;
}

#primary {
	border-radius: 2px;
}

#svg {
	margin-top: 10%;
}
